* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: gray;
}

header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  width: inherit;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}

main {
  width: 100%;
}

section {
  height: auto;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: beige;
}